* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.homeWrapper, .aboutWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    flex-direction: column;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 50px;
    border: 1px solid white;
    padding: 10px 30px;
}

.homeWrapper {
    background-color: rgb(129, 60, 146);
}

.aboutWrapper {
    background-color: rgb(73, 60, 146);
}

.slide-in {
    animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        visibility: hidden;
    }
    to {
        transform: translateX(0%);
        visibility: visible;
    }
}